APP_NAME="Absensi King Royal API"
ENVIRONMENT="local"
DATABASE_URL="mysql://root:password@localhost:3306/king_royal_db"
ACCESS_KEY="secret-text"
PORT="8080"
SERVER_BASE_URL="http://localhost:8080"
LOG_DETAIL="true"

# SMTP Settings
SMTP_FROM_NAME="King Royal System"
SMTP_FROM_EMAIL="your-email@example.com"
SMTP_PASSWORD="your-smtp-password"
SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_ENCRYPTION="starttls"